$font-stack: "Poppins", serif;
$dark-color: #111;
$light-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-color;
  color: $light-color;
  z-index: 2;

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  position: relative;
  z-index: 10;

  h2 {
    font-size: 5rem;
    font-weight: 1000;
    line-height: 1;
    text-transform: uppercase;
  }

  h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }

  p {
    font-size: 1.1rem;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
  }

  a {
    text-decoration: none;
    display: block;
    width: fit-content;
    font-size: 1rem;
    background-color: $light-color;
    padding: 10px 30px;
    color: $dark-color;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;

    &:hover {
      letter-spacing: 6px;
    }
  }
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 2rem;
  }
}
